body{
    font-family: 'Roboto', sans-serif;
}

.right{
    float: right !important;
}

.w3-container > ul{
    margin-top: 15px;
}

#page_content{
    max-width: 500px;
    margin: auto;
}

.inner{
    margin-top: 50px;
    width: 100%;
    min-height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 10px;
}

.innerhover:hover, .text_contain:hover{
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.yellow{
    background-color: #ffce02;
}

.yellow_light{
    background-color: #cbcbcb;
}

.inner > h2{
   margin: auto;
   padding: 5px;
   text-align: center;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: lightgray;
}

.inner > div > h3{
    margin: auto;
    text-align: center;
    font-weight: bolder;
}

.header{
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    margin-top: 10px;
}

.header > p{
    margin: auto;
    width: 50%;
    float: left;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px
}
.header > div{
    margin: auto;
    width: 50%;
    float: right; 
}

.text_contain{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    margin: auto;
    padding: 0 10 0 10;
    border-style: solid;
    border-width: 1px;
    border-color: #ffce02 !important;
    margin-top: 10px;
    margin-bottom:  40px;
}

.ask > p{
    width: 200px;
    height: 30px;
    float: right;
    background-color: #ffce02;
    text-align: center;
    line-height: 2;
    margin-top: 11px;
}

.ask > p:hover, .done:hover, .submit:hover, .editSub:hover, .gradenum:hover, .view:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.navv:hover{
    cursor: pointer
}

.bottomButtons{
    padding-bottom: 20px;
}

.navv:hover{
    cursor: pointer
}

.texth{
    padding: 10px;
    min-height: 125px;
    height: 100%;
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.inputh{
    min-height: 125px;
}

.done{
    width: 70px;
    height: 30px;
    background-color: #ffce02;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 2
}

a{
    text-decoration: none;
}

.fa-pencil:hover, .fa-check:hover{
    color: rgba(23,23,23, .5);
    cursor: pointer;
}

.buttonContainer, .submit{
    width: 95%;
    margin: auto;
}

.grade{
     height: 55px;
     width: 40%;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     margin-bottom: 15px;
     text-align: center;
     line-height: 2.2;
     font-size: 24px;
     float: right;
}

.gradeTitle{
    font-size: 24px;
    width: 60%;
    float: left;
    height: 100%;
}

.gradenum{
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    width: 40%;
    float: right;
    height: 100%;
    font-weight: bolder;
    background-color: #ffce02
}

.editSub{
    width: 150px;
    height: 55px;
    text-align: center;
    font-size: 19px;
    background-color: #ffce02;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.submit{
    margin-top: 30px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    height: 55px;
    line-height: 1.9
}

a{
    text-decoration: none;
}

.gradenum_input{
    width: 45px;
    height: 80%;
}

.gradenum_check{
    font-size: 20px;
}

.w3-navitem:hover{
    cursor: pointer;
    color:#ffce02;
}

.asg_item{
    min-height: 30px;
    height: auto;
    max-height: 200px;
    width: 98%;
    margin: auto;
    margin-bottom: 10px;
}

.studentmsg, .teachermsg{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5 5 5 5;
    word-wrap:break-word;
    background-color: #f1f0f0;
    word-wrap: break-word;
    max-width: 75%;
    text-align: center;
}

.studentmsg{
    border-bottom-left-radius: 1.3em;
    clear: left;
    float: left;
}

#space{
    margin-bottom: 70px;
}

.asg_item:first-child{
    margin-top: 10px;
}

.listQuestions{
    min-height: 250px;
    max-height: 500px;
    position:relative;
}

.inputAns{
    width: 90%;
    height: 40px;
    position: absolute;
    bottom: 0;
    margin: 0 0 10 15;
}

.inputAns > form > textarea{
    height: 100%;
    width: 100%;
}

.teachermsg{
    background-color: #0084ff;
    clear: right;
    float: right;
    border-bottom-right-radius: 1.3em;
    color: white;
}

p.ng-binding.teachermsg, p.ng-binding.studentmsg{
    margin: auto;
}

.chatContainer{
    overflow-y: auto;
    min-height: 250px;
    max-height: 300px;
    height: auto;
    width: 100%;
    margin: auto;
}

.inputDue{
    width: 80px;
    text-align: center;
}